@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(39deg) brightness(112%) contrast(112%);
    --size-icon-small: 24px;
    --size-icon-medium: 32px;
    --size-icon-large: 50px;
    --size-icon-xlarge: 70px;
    --margin-vsmall: 8px;
    --margin-small: 16px;
    --margin-medium: 24px;
    --margin-large: 32px;
    --padding-vsmall: 8px;
    --padding-small: 16px;
    --padding-medium: 24px;
    --padding-large: 32px;
    --font-vsmall: 0.75em;
    --font-small: 1.25em;
    --font-medium: 1.5em;
    --font-large: 2em;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.container-right {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.nav-top {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    font-weight: 800;
}

.projects {
    background-color: #e2e8f0;
}

.container-left {
    background-color: #1992d4;
    padding: var(--padding-small);
    font-weight: 800;
    /* font-size: var(--font-small); */
}

.container-left img {
    filter: var(--white-filter);
    height: var(--size-icon-small);
    width: var(--size-icon-small);
}

/* select all divs within the div within container-left div (third nested div) */
.container-left div > div {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    color: white;
    align-items: center;
}

/* select all the divs within container-left div (second nested div) */
.container-left > div {
    /* margin-left: var(--margin-small); */
}


/* selects first div within the container-left div and then the image tag inside it */
.container-left > div:nth-child(1)  img {
    height: var(--size-icon-large);
    width: var(--size-icon-large);
    margin-right: var(--margin-vsmall);
}

/* selects first div within the container-left div */
.container-left > div:nth-child(1) {
    font-size: var(--font-medium);
}

/* selects second div within the container-left div */
.container-left > div:nth-child(2) {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: var(--margin-vsmall);
    margin-top: var(--margin-large);
}

/* selects third div within the container-left div */
.container-left > div:nth-child(3) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: var(--margin-vsmall);
    margin-top: var(--margin-large);
}

.row-top {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    align-items: center;
}

.row-top img:not(.img-profile) {
    height: var(--size-icon-small);
    width: var(--size-icon-small);
}

.row-top input {
    grid-column-start: 3;
    grid-column-end: 18;
}

.row-top img:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.row-top img:nth-child(3) {
    grid-column-start: 22;
    grid-column-end: 23;
}

.img-profile {
    height: var(--size-icon-large);
    width: var(--size-icon-large);
}

/* last div this class */
.row-top div:nth-child(5) {
    grid-column-start: 24;
    grid-column-end: 28;
    margin-left: var(--font-small);
}

input {
    border-radius: 10px;
    background-color: #e2e8f0;
    appearance: none;
    border: none;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.row-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.row-bottom div:nth-child(1) {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    align-items: center;
}


.row-bottom div:nth-child(1) > div:nth-child(1) {
    justify-self: end;
}

.row-bottom div:nth-child(1) > div:nth-child(2) {
    justify-self: start;
}


.row-bottom div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
    font-size: var(--font-vsmall);
}

.row-bottom div:nth-child(2) {
    justify-self: end;
}

.row-bottom div:nth-child(2) button {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
    background-color: #1992d4;
    color: white;
    border-radius: 32px;
    margin: var(--margin-vsmall);
    appearance: none;
    border: none;
}

